// color
$black: #000;
$white: #fff;
$light-skin-1: #f7e296;
$light-skin-2: #f7e184;
$orange: #f0c52e;

// width
$main-width: 1160px;

// global
$primary-color: $black;
$secondary-color: $light-skin-1;
$secondary-color-light: $light-skin-2;

$font: opensans, Arial, sans-serif;

// text color
$text-primary: $primary-color;
$text-secondary: $secondary-color-light;
