// color
$black: #000;
$black-60: rgba($black, 0.6);
$black-30: rgba($black, 0.3);
$black-8: rgba($black, 0.08);

$white: #fff;
$white-70: rgba($white, 0.7);
$white-60: rgba($white, 0.6);
$white-30: rgba($white, 0.3);
$white-10: rgba($white, 0.1);

$skin-light-296: #f7e296;
$skin-light-184: #f7e184;

$skin-orange: #f0c52e;
$skin-orange-30: rgba($skin-orange, 0.3);

$gray-46: #464646;
$gray-e5: #e5e5e5;
$gray-dc: #dcdcdc;
$gray-db: #dbdbdb;
$gray-c4: #c4c4c4;
$gray-ad: #adadad;
$gray-ee: #eeeeee;

$green-bright: #91c92f;

// width
$main-width: 1160px;

// global
$primary-color: $black;
$primary-color-73: rgba($black, 0.73);
$primary-color-60: rgba($black, 0.6);
$primary-color-50: rgba($black, 0.5);
$primary-color-30: rgba($black, 0.3);
$primary-color-20: rgba($black, 0.2);
$primary-color-10: rgba($black, 0.1);
$primary-color-8: rgba($black, 0.08);

$secondary-color-296: $skin-light-296;
$secondary-color-184: $skin-light-184;
$secondary-color-bright: $skin-orange;
$secondary-color-bright-30: $skin-orange-30;

$third-color: $white;
$third-color-70: $white-70;
$third-color-60: $white-60;
$third-color-30: $white-30;
$third-color-10: $white-10;

$fourth-color-e5: $gray-e5;
$fourth-color-dc: $gray-dc;
$fourth-color-db: $gray-db;
$fourth-color-ee: $gray-ee;
$fourth-color-46: $gray-46;
$fourth-color-c4: $gray-c4;
$fourth-color-ad: $gray-ad;

$fifth-color: $green-bright;

$bg-main: $white;

// font
$font: opensans, Arial, sans-serif;
$font-size: 15px;
$line-height: 30px;
$letter-space: 3.5px;

// text color
$text-primary: $primary-color;
$text-primary-73: $primary-color-73;
$text-primary-60: $primary-color-60;
$text-primary-50: $primary-color-50;
$text-primary-30: $primary-color-30;
$text-primary-20: $primary-color-20;
$text-primary-10: $primary-color-10;

$text-secondary: $secondary-color-184;
$text-secondary-bright: $secondary-color-bright;
$text-secondary-bright-30: $secondary-color-bright-30;

$text-third: $third-color;
$text-third-70: $third-color-70;
$text-third-60: $third-color-60;
$text-third-30: $third-color-30;


