@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin container {
  box-sizing: border-box;
  width: $main-width;
  margin: 0 auto;
}

@mixin link-reset {
  font-size: $font-size;
  line-height: $line-height;

  color: $text-primary;

  text-decoration: none;
}

@mixin form-style-reset {
  font-size: $font-size;
  line-height: $line-height;
  font-family: "Open Sans", "Arial","Helvetica", "Garuda", sans-serif;

  color: $text-primary;

  border: none;
  outline: none;

  background-color: $secondary-color;
}

@mixin lineout {
  outline: 1px solid #999;
}
