.btn-close {
  display: block;
  position: absolute;

  font-size: 0;
  line-height: 0;

  width: 55px;
  height: 55px;

  top: 22px;
  right: 22px;

  background-color: $secondary-color-296;
  border-radius: 50%;

  cursor: pointer;

  transition-property: width, height, box-shadow;
  transition: 0.2s ease all;

  &:hover {
    box-shadow: 0 4px 10px -2px $primary-color-60;
  }

  &::before {
    display: block;
    content: "";

    position: absolute;

    width: 32px;
    height: 2px;

    top: 50%;
    left: 50%;

    margin-left: -16px;

    transform: rotate(45deg);

    background-color: $third-color;
  }

  &::after {
    display: block;
    content: "";

    position: absolute;

    width: 32px;
    height: 2px;

    top: 50%;
    left: 50%;

    margin-left: -15px;
    margin-top: -1px;

    transform: rotate(-45deg);

    background-color: $third-color;
  }
}
