.catalog {
  float: right;

  width: 760px;

  padding-left: 72px;
}

.catalog__sort {
  @include clearfix;

  font-size: 0;
  line-height: 0;

  position: relative;

  margin-bottom: 19px;

  padding-top: 25px;
  padding-bottom: 26px;

  &::before {
    content: "";
    position: absolute;
    z-index: 0;

    top: 0;
    bottom: 0;
    left: -72px;
    right: 0;

    margin-right: calc(#{$main-width / 2 + 10px} - 50vw);

    background-color: $primary-color-8;
  }
}

.catalog__name {
  float: left;

  font-family: "Gilroy";
  font-weight: bold;

  font-size: 16px;
  line-height: 19px;

  letter-spacing: $letter-space;
  text-transform: uppercase;

  width: 180px;

  margin-right: 5px;
}

.catalog__name:first-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

.catalog__options-wrapper {
  float: left;

  width: 480px;
}

.catalog__sort-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 10;

  font-size: 14px;
  line-height: 18px;

  font-weight: normal;

  color: $text-primary-30;

  text-decoration: none;

  padding-left: 15px;
  padding-right: 15px;

  cursor: pointer;


  transition-property: color;
  transition: 0.2s ease all;
}

.catalog__sort-item:hover {
  color: $primary-color-60;
}

.catalog__sort-item--active {
  color: $text-primary;
}

.catalog__arrows-wrapper {
  @include clearfix;

  position: relative;
  z-index: 10;

  float: right;

  width: 60px;

  padding-top: 5px;
}

.catalog__arrow-up,
.catalog__arrow-down {
  width: 0;
  height: 0;

  border: 9px solid $primary-color-20;
  border-left-color: transparent;
  border-right-color: transparent;

  cursor: pointer;

  transition-property: border-color;
  transition: 0.2s ease all;
}

.catalog__arrow-up {
  float: left;

  border-top-width: 0;
}

.catalog__arrow-down {
  float: right;

  border-bottom-width: 0;
}

.catalog__arrow-down--active {
  border-top-color: $primary-color;
}

.catalog__arrow-up:hover {
  border-bottom-color: $primary-color-60;
}

.catalog__arrow-down:hover {
  border-top-color: $primary-color-60;
}

.catalog__item-wrapper {
  font-size: 0;
  line-height: 0;

  padding-bottom: 20px;
}
