.checkbox {
  display: block;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked ~ .checkbox__text {
  &::before {
    background-color: $gray-4;
  }
}

.checkbox__input:checked ~ .checkbox__text > .checkbox__checked {
  visibility: visible;
  opacity: 1;

  transform: translateY(-50%) scale(1);
}

.checkbox__text {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  font-weight: lighter;

  font-size: 14px;
  line-height: 40px;

  padding-left: 40px;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;

    width: 23px;
    height: 23px;

    top: 50%;
    left: 0;

    background-color: $fifth-color-3;

    transform: translateY(-50%);

    transition-property: background-color;
    transition: 0.2s ease all;
  }
}

.checkbox__checked {
  position: absolute;

  visibility: hidden;
  opacity: 0;

  top: 50%;
  left: 5px;

  transform: translateY(-50%) scale(0);

  transition-property: opacity;
  transition: 0.2s ease all;
}
