.column-filter {
  float: left;

  width: 268px;

  padding-left: 60px;
}

.column-filter__title-wrapper {
  position: relative;

  padding-top: 25px;
  padding-bottom: 26px;
  padding-right: 68px;

  background-color: $fifth-color-2;

  &::before {
    content: "";
    position: absolute;
    z-index: 0;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin-left: calc(50% - 50vw);

    background-color: $fifth-color-2;
  }
}

.column-filter__title-wrapper > *:first-child {
  margin-top: 0;
  padding-top: 0;
}


.column-filter__title-wrapper > *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.column-filter__title {
  position: relative;
  z-index: 10;

  font-family: "Gilroy";
  font-weight: bold;

  font-size: 16px;
  line-height: 19px;

  letter-spacing: $letter-space;
  text-transform: uppercase;
}

.column-filter__form {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 0;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin-left: calc(50% - 50vw);

    background-color: $fifth-color-6;
  }
}

.column-filter__form-wrapper {
  position: relative;
  z-index: 10;
}
