.conditions {
  box-shadow: 0 161px 0 0 $third-color inset;

  background-color: $fourth-color-e5;
}

.conditions__wrapper {
  @include container;
  @include clearfix;

  padding-top: 60px;
  padding-bottom: 69px;
}

.conditions__switcher {
  display: none;
}

.conditions__btn {
  width: 160px;

  padding-top: 10px;
  padding-bottom: 9px;

  text-align: center;

  transition-property: height, color, padding;
  transition: 0.1s ease all;
}

#delivery:checked ~ .conditions__decor-wrapper .conditions__btn--delivery,
#warranty:checked ~ .conditions__decor-wrapper .conditions__btn--warranty,
#credit:checked ~ .conditions__decor-wrapper .conditions__btn--credit {
  padding-right: 117px;
  color: $text-secondary;
}

#delivery:checked ~ .conditions__decor-wrapper .conditions__btn--delivery:before,
#warranty:checked ~ .conditions__decor-wrapper .conditions__btn--warranty:before,
#credit:checked ~ .conditions__decor-wrapper .conditions__btn--credit:before {
  background-color: $primary-color;
  height: 100%;
}

#delivery:checked ~ .conditions__info-wrapper .conditions__info--delivery,
#warranty:checked ~ .conditions__info-wrapper .conditions__info--warranty,
#credit:checked ~ .conditions__info-wrapper .conditions__info--credit {
  visibility: visible;
  opacity: 1;
}

.conditions__decor-wrapper {
  float: left;

  width: 277px;
  min-height: 263px;
  padding-top: 57px;

  border-right: 7px solid $primary-color;
}

.conditions__info-wrapper {
  float: right;
  position: relative;

  width: 758px;
  min-height: 297px;

  padding-left: 118px;
  padding-top: 23px;
}

.conditions__info {
  position: absolute;

  width: 100%;

  opacity: 0;
  visibility: hidden;

  transition-property: opacity;
  transition-duration: 0.3s;
}

.conditions__info--delivery {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 556px 63px;
}

.conditions__info--warranty {
  background-image: url("../img/warranty.png");
  background-repeat: no-repeat;
  background-position: 526px 40px;
}

.conditions__info--credit {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 526px 40px;
}

.conditions__btn-content {
  padding-left: 0;
  padding-right: 0;
}

.conditions__title {
  font-family: "Gilroy";
  font-weight: bold;

  font-size: 47px;
  line-height: 56px;

  margin-bottom: 28px;
}

.conditions__content {
  max-width: 460px;
}
