.copyright {
  display: block;
  float: right;
  position: relative;

  width: 33px;
  height: 41px;

  font-size: 0;
  line-height: 0;
}

.copyright__link {
  display: block;
}

.copyright__link:hover .copyright__icon {
  fill: $secondary-color-bright;
}

.copyright__link:active .copyright__icon {
  fill: $secondary-color-bright-30;
}

.copyright__icon {
  fill: $secondary-color-184;

  transition-property: fill;
  transition: 0.2s ease all;
}

