.device-info {
  @include container;
  @include clearfix;

  padding-bottom: 78px;
}

.device-info__about-us {
  @include decor;

  float: left;
  position: relative;

  width: 480px;

  &::before {
    left: 0;

    background-color: $primary-color;
  }
}

.device-info__contacts {
  @include decor;

  float: right;
  position: relative;

  width: 560px;

  &::before {
    left: 0;

    background-color: $primary-color;
  }
}

.device-info__title {
  position: relative;

  font-family: "Gilroy";
  font-weight: bold;

  font-size: 47px;
  line-height: 56px;

  margin-bottom: 39px;
}

.device-info__content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.device-info__transport-companies {

  margin: 0;
  padding: 0;

  margin-top: 65px;
  margin-bottom: 28px;

  list-style: none;
}

.device-info__item {
  position: relative;
  padding-left: 35px;

  &::before {
    content: "";
    display: block;
    position: absolute;

    width: 4px;
    height: 4px;

    left: 0;
    top: 50%;

    transform: translateY(-50%);

    border: 3px solid $primary-color-30;
    border-radius: 50%;
  }
}

.device-info__link {
  @include link-reset;

  font-family: "Gilroy";
  font-weight: bold;

  font-size: 16px;
  line-height: 40px;
}

.suppliers__btn {
  width: 260px;

  text-align: center;
}

.suppliers__btn-content {
  padding-left: 0;
  padding-right: 0;
}
