.filter-form__wrapper {
  padding-top: 69px;
  padding-right: 68px;
}

.filter-form__title {
  position: relative;

  font-family: "Gilroy";
  font-weight: bold;

  font-size: 18px;
  line-height: 22px;

  width: 100%;

  margin-top: 13px;
  margin-bottom: 19px;

  &::before {
    content: "";
    position: absolute;

    height: 2px;

    left: 0;
    right: 0;
    top: -13px;

    background-color: $primary-color;
  }
}

.filter-form__range-filter {
  margin-bottom: 28px;
}

.filter-form__range-controls {
  position: relative;

  min-height: 8px;

  margin-top: 30px;
  margin-bottom: 3px;

  padding-top: 6px;
}

.filter-form__scale {
  height: 2px;

  background-color: $fourth-color-db;
}

.filter-form__bar {
  width: 118px;
  height: 2px;

  background-color: $fifth-color;
}

.filter-form__toggle {
  position: absolute;

  width: 10px;
  height: 10px;

  top: 0;
  left: 0;

  border: 2px solid $primary-color;
  border-radius: 50%;

  background-color: $fourth-color-ee;

  cursor: pointer;
}

.filter-form__toggle--max-toggle {
  left: 110px;
}

.filter-form__toggle--active {
  width: 9px;
  height: 9px;

  border: 3px solid $third-color;
  background-color: $fifth-color;
  box-shadow: 0 4px 6px -2px $primary-color-73;
}

.filter-form__price-controls {
  font-size: 0;
}

.filter-form__label{
  display: inline-block;
  vertical-align: top;

  width: 45%;

  font-family: "Gilroy";
  font-weight: lighter;

  font-size: 14px;
  line-height: 22px;

  color: $primary-color-20;
}

.filter-form__field {
  display: inline-block;
  vertical-align: top;

  font-family: "Gilroy";
  font-weight: lighter;

  font-size: 14px;
  line-height: 22px;

  border: none;
  color: $primary-color-20;
  background-color: transparent;
}

.filter-form__group {
  margin-bottom: 31px;

  padding-top: 13px;
}

.filter-form__group > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

.filter-form__group > *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.filter-form__group:last-of-type {
  margin-bottom: 27px;
}

.form-submit__btn {
  margin-top: 0;
  cursor: pointer;
}

.form-submit__btn-content {
  border: none;
  background-color: transparent;

  outline: none;
  cursor: pointer;
}
