.logo {
  display: block;
  width: 180px;

  font-family: "Gilroy";
  font-size: 48px;
  line-height: 52px;
  font-weight: bold;

  color: $primary-color;
  text-transform: uppercase;
  text-decoration: none;
}
