.logo {
  display: block;
  width: 180px;

  font-family: "Gilroy";
  font-size: 48px;
  line-height: 52px;
  font-weight: bold;

  color: $primary-color;
  text-transform: uppercase;
  text-decoration: none;

  transition-property: color;
  transition: 0.2s ease all;
}

.logo--footer {
  float: left;

  color: $text-secondary;

  &:hover {
    color: $text-secondary-bright;
  }

  &:active {
    color: $text-secondary-bright-30;
  }
}

