.map-popup {
  display: block;

  position: fixed;
  z-index: 10000;

  visibility: hidden;
  opacity: 0;

  overflow: hidden;
  white-space: nowrap;

  font-size: 0;
  line-height: 0;

  width: 960px;
  height: 560px;

  top: 20%;
  left: 50%;

  margin-left: -480px;

  box-shadow: 0 0 30px 0 rgba(0,0,0, 0.1),
              -30px 0 30px -15px rgba(0,0,0, 0.1),
              30px 0 30px -15px rgba(0,0,0, 0.1),
              0 25px 30px 0 rgba(0,0,0, 0.1);

  background: url("../../img/map-big.jpg") $bg-main;

  transition-property: opacity;
  transition: 0.2s ease all;
}

.map-popup--active {
  visibility: visible;
  opacity: 1;
}

.map-popup__close {
  z-index: 10001;
  background-color: $secondary-color-bright-50;
}

