.page-header {
  @include container;
  @include clearfix;

  min-height: 339px;

  padding-top: 14px;
  padding-bottom: 36px;
  padding-left: 60px;
  padding-right: 60px;

  background-color: $secondary-color;
  box-shadow: 0 40px 0 0 $white inset;
}

.page-header--inner-page {
  min-height: 226px;
}
