.page-footer {
  padding-top: 58px;
  padding-bottom: 64px;

  color: $text-third;
  background-color: $fourth-color-46;
}

.page-footer__wrapper {
  @include container;
}

.page-footer__wrapper > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

.page-footer__wrapper > *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

