.pagination {
  padding-top: 19px;
  padding-bottom: 73px;
}

.pagination__wrapper {
  @include clearfix;

  background-color: $primary-color-8;
}

.pagination__item {
  display: inline-block;

  font-family: "Gilroy";
  font-weight: bold;

  font-size: 16px;
  line-height: 19px;

  padding-top: 25px;
  padding-bottom: 26px;

  padding-left: 10px;
  padding-right: 10px;

  letter-spacing: $letter-space;
  text-transform: uppercase;

  color: $text-primary-30;
  text-decoration: none;

  transition-property: background-color;
  transition: 0.2s ease all;

  &:hover {
    background-color: $primary-color-8;
  }
}

.pagination__item--active {
  color: $text-primary;
}

.pagination__item--backward,
.pagination__item--forward {
  padding-left: 30px;
  padding-right: 30px;

  color: $text-primary;

  &:hover {
    background-color: $primary-color-8;
  }
}

.pagination__item--backward {
  display: block;
  float: left;
}

.pagination__item-wrapper {
  display: block;
  float: left;

  width: 490px;

  text-align: center;
  line-height: 19px;
}

.pagination__item--forward {
  display: block;
  float: right;
}
