.product-popular {
  @include container;
  @include clearfix;

  font-size: 0;
  text-align: center;
}

.product-popular__item {
  display: inline-block;
  vertical-align: top;

  width: 160px;

  margin-right: 40px;

  overflow: hidden;

  font-size: $font-size;
  line-height: $line-height;

  cursor: pointer;

  &:nth-child(6n) {
    margin-right: 0;
  }
}

.product-popular__link {
  @include link-reset;
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    display: block;

    width: 160px;
    height: 160px;

    background-color: $secondary-color-296;

    transition-property: background-color;
    transition: 0.2s ease all;
  }

  &:hover::before {
    background-color: $secondary-color-bright;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;

    width: 160px;
    height: 160px;

    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-position: 50% 50%;

    transition-property: opacity;
    transition: 0.2s ease all;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.product-popular__link--virtual::after {
  background-image: url("../img/popular-1.png");
}

.product-popular__link--monopod::after {
  background-image: url("../img/popular-2.png");
  background-position: 50% 100%;
}

.product-popular__link--camera::after {
  background-image: url("../img/popular-3.png");
}

.product-popular__link--bracelet::after {
  background-image: url("../img/popular-4.png");
}

.product-popular__link--clock::after {
  background-image: url("../img/popular-5.png");
}

.product-popular__link--quadrocopt::after {
  background-image: url("../img/popular-6.png");
}

.product-popular__link:active .product-popular__title {
  color: $primary-color-30;
}

.product-popular__title {
  margin-top: 35px;

  font-family: "Gilroy";
  font-weight: bold;

  font-size: 18px;
  line-height: 21px;

  text-align: left;

  transition-property: color;
  transition: 0.1s ease all;
}
