.product-popular {
  @include container;
  @include clearfix;

  font-size: 0;
  text-align: center;
}

.product-popular__link {
  @include link-reset;
}

.product-popular__item {
  display: inline-block;
  vertical-align: top;

  width: 160px;

  margin-right: 40px;

  overflow: hidden;

  font-size: $font-size;
  line-height: $line-height;

  cursor: pointer;

  &:nth-child(6n) {
    margin-right: 0;
  }
}

.product-popular__link:hover .product-popular__container {
  background-color: $fourth-color;
}

.product-popular__link:active .product-popular__image {
  opacity: 0.3;
}

.product-popular__link:active .product-popular__title {
  color: $primary-color-30;
}

.product-popular__container {
  display: block;
  font-size: 0;
  line-height: 160px;

  text-align: center;

  width: 160px;
  height: 160px;

  margin: 0;

  background-color: $secondary-color;

  transition-property: background-color;
  transition: 0.2s ease all;
}

.product-popular__image {
  display: inline-block;
  vertical-align: middle;

  font-size: $font-size;
  line-height: $line-height;

  margin: 0 auto;

  width: auto;
  height: auto;

  transition-property: opacity;
  transition: 0.1s ease all;

  &--bottom {
    vertical-align: bottom;
  }
}

.product-popular__title {
  margin-top: 35px;

  font-family: "Gilroy";
  font-weight: bold;

  font-size: 18px;
  line-height: 21px;

  text-align: left;

  transition-property: color;
  transition: 0.1s ease all;
}
