.product-promo {
  @include container;

  display: block;
  position: relative;

  min-height: 482px;

  top: -108px;

  &__item {
    @include clearfix;

    position: absolute;
    z-index: 1;

    opacity: 0;
    visibility: hidden;

    transition-property: opacity;
    transition-duration: 0.2s;
  }

  &__item--1::before {
    content: "01";
  }

  &__item--2::before {
    content: "02";
  }

  &__item--3::before {
    content: "03";
  }

  &__item--1::before,
  &__item--2::before,
  &__item--3::before {
    display: block;
    position: absolute;
    z-index: 0;

    right: 48px;
    top: -17px;

    font-family: "Gilroy";

    font-size: 180px;
    line-height: 180px;
    font-weight: bold;
    color: white;

  }

  #product-1:checked ~ .product-promo__item--1,
  #product-2:checked ~ .product-promo__item--2,
  #product-3:checked ~ .product-promo__item--3 {

    opacity: 1;
    visibility: visible;
  }

  #product-1:checked ~ .product-promo__nav label[for="product-1"],
  #product-2:checked ~ .product-promo__nav label[for="product-2"],
  #product-3:checked ~ .product-promo__nav label[for="product-3"] {
    border-color: $primary-color;
  }
}

.product-promo__switcher {
  display: none;
}

.product-promo__image-wrapper {
  float: right;
  width: 560px;

  text-align: center;

}

.product-promo__image {
  width: auto;
  max-width: 560px;
  height: 481px;
}

.product-promo__content {
  float: right;
  position: relative;
  z-index: 1;

  width: 500px;

  padding-left: 40px;
  padding-right: 60px;
}

.product-promo__title {
  font-family: "Gilroy";
  font-size: 47px;
  line-height: 56px;
  font-weight: bold;

  margin-top: 75px;
  margin-bottom: 20px;
}

.product-promo__value-wrapper {
  font-size: 0;

  margin-top: 50px;
}

.product-promo__property {
  display: block;

  font-size: 13px;
  line-height: 20px;

  margin-top: 10px;
}

.product-promo__value {
  display: inline-block;

  margin-right: 73px;

  font-family: "Gilroy";
  font-weight: 300;

  font-size: 36px;
  line-height: 43px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.product-promo__nav {
  position: absolute;
  z-index: 10;

  top: 326px;
  left: 1000px;
}
