.social-wrapper {
  @include decor;

  display: block;
  float: left;
  position: relative;

  font-size: 0;

  min-width: 160px;
  height: 38px;

  margin-left: 506px;

  &::before {
    left: -506px;
    bottom: 40%;

    background-color: $secondary-color-184;
  }
}
