.suppliers {
  @include container;

  font-size: 0;

  padding-top: 94px;
  padding-bottom: 93px;
}

.suppliers__link {
  @include link-reset;
  display: inline-block;

  font-size: 0;

  width: 260px;
  height: 100px;

  margin-right: 40px;

  background-repeat: no-repeat;
  background-position: 50% 50%;

  transition-property: background-image;
  transition: 0.2s ease all;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.suppliers__link--dji {
  background-image: url("../img/logo-1.png");
}

.suppliers__link--dji:hover {
  background-image: url("../img/logo-1-color.jpg");
}

.suppliers__link--spgadjets {
  background-image: url("../img/logo-2.png");
}

.suppliers__link--spgadjets:hover {
  background-image: url("../img/logo-2-color.jpg");
}

.suppliers__link--gopro {
  background-image: url("../img/logo-3.png");
}

.suppliers__link--gopro:hover {
  background-image: url("../img/logo-3-color.jpg");
}

.suppliers__link--vive {
  background-image: url("../img/logo-4.png");
}

.suppliers__link--vive:hover {
  background-image: url("../img/logo-4-color.jpg");
}

