.user-menu {
  float: right;
  width: 500px;

  padding-top: 15px;
  padding-bottom: 9px;

  *:last-child {
    padding-right: 0;
  }

  &__item {
    @include link-reset;
    position: relative;

    padding-left: 27px;
    padding-right: 37px;
    line-height: 36px;

    transition-property: color;
    transition: 0.2s ease all;
  }

  &__item--login-header {
    margin-right: 167px;
  }

  &__item--name,
  &__item--logout {
    display: none;
  }

  &__item--logout {
     padding-left: 20px;
  }

  &__item:hover {
    color: $text-primary-60;
  }

  &__item:active {
    color: $text-primary-30;
  }

  &__icon {
    transition-property: fill;
    transition: 0.2s ease all;
  }

  &__icon--user {
    left: -2px;
    bottom: 3px;
  }

  &__icon--compare {
    left: 7px;
    bottom: 3px;
  }

  &__icon--cart {
    bottom: 2px;
  }
}

.user-menu__item:hover .user-menu__icon {
  fill: $primary-color-60;
}

.user-menu__item:active .user-menu__icon {
  fill: $primary-color-30;
}

.user-menu--footer .user-menu__icon {
  fill: $secondary-color-light;
}

.user-menu--footer .user-menu__item:hover .user-menu__icon {
  fill: $fourth-color;
}

.user-menu--footer .user-menu__item:active .user-menu__icon {
  fill: $fourth-color-30;
}

.user-menu--footer {
  float: right;

  width: auto;

  padding-top: 2px;
}

.user-menu--footer .user-menu__item {
  color: $text-third-70;
}

.user-menu--footer .user-menu__item:hover {
  color: $text-third;
}

.user-menu--footer .user-menu__item:active {
  color: $text-third-30;
}
